[Unit]
Description=Timer to Restart Bluetooth Sensors Daily
Requires=bluetooth-sensors-restart.service

[Timer]
OnCalendar=*-*-* 06:09:00
Unit=bluetooth-sensors-restart.service
RemainAfterElapse=yes

[Install]
WantedBy=timers.target 